In [1]:
import pandas as pd
dataframe = pd.read_csv('pokemon.csv', index_col="Name")
series = dataframe.squeeze("columns") ## create a view of series from dataframe
series[0] = "Hello world" ## this will change series as well as dataframe

series.head()

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_51409/4128161959.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  series[0] = "Hello world" ## this will change series as well as dataframe

Name
Bulbasaur       Hello world
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [2]:
dataframe

                          Type
Name
Bulbasaur          Hello world
Ivysaur          Grass, Poison
Venusaur         Grass, Poison
Charmander                Fire
Charmeleon                Fire
...                        ...
Iron Valiant   Fairy, Fighting
Koraidon      Fighting, Dragon
Miraidon      Electric, Dragon
Walking Wake     Water, Dragon
Iron Leaves     Grass, Psychic

[1010 rows x 1 columns]

In [3]:
series = dataframe.squeeze('columns').copy() ## this will make a copy of df to series
series[0] = 'Bye Bye'
series.head()

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_51409/2288960693.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  series[0] = 'Bye Bye'

Name
Bulbasaur           Bye Bye
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [4]:
dataframe

                          Type
Name
Bulbasaur          Hello world
Ivysaur          Grass, Poison
Venusaur         Grass, Poison
Charmander                Fire
Charmeleon                Fire
...                        ...
Iron Valiant   Fairy, Fighting
Koraidon      Fighting, Dragon
Miraidon      Electric, Dragon
Walking Wake     Water, Dragon
Iron Leaves     Grass, Psychic

[1010 rows x 1 columns]

In [5]:
dataframe.head()

                     Type
Name
Bulbasaur     Hello world
Ivysaur     Grass, Poison
Venusaur    Grass, Poison
Charmander           Fire
Charmeleon           Fire