In [4]:
class Solution:
    def print(self, value: str):
        print(value)
sol = Solution()
sol.print("Hello, World")

Hello, World

In [5]:
number = 5
numeric = 3.456
strings = "Hi there"
listData = [10, 11, 23, "hue"]
dictionary = {"key": 1, "value": "name"}
tupple = (10, "hello", 200.3)
sets = {"a", "b", "c"}
boolean = True


print(listData)
print(tupple)

[10, 11, 23, 'hue']
(10, 'hello', 200.3)

"1234.5567" + 23 // Type error we can not add number to string

None - a type represents absence/nullness/a value missing

In [2]:
"race " + "car" ## concatination

'race car'

In [3]:
if "race" == "race":
    print('Testing')

if "race" == "Race":
    print('Testing')
else:
    print('Not testing')

Testing
Not testing

We can apply multiply with strings like

In [4]:
"aqib" * 5

'aqibaqibaqibaqibaqib'

In [5]:
3+4*5 ## DMAS rule

23

In [6]:
2+8/2*5-1 ## DMAS rule

21.0

In [7]:
12/4

3.0

In [8]:
12//4 ## floor division (it will not include decimal point 0)

3

In [9]:
15/2

7.5

In [10]:
15//2 ## floor division so it will return 7

7