In [2]:
print("Hello World")

Hello World

In [3]:
for i in range(5):
    print(f"Hello World {i}")

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4

In [11]:
import pandas as pd

d = {'a': 1, 'b' : 2, 'c' : 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser.iloc[0] = ser.iloc[0] * 99
ser

a    99
b     2
c     3
dtype: int64