In [1]:
name = "Aqib"

In [3]:
# name[0] = 'P' this will not work as strings are immutables

In [4]:
updatedName = 'T' + name[1:]

In [5]:
print(updatedName)

Tqib

In [6]:
print(updatedName * 5) ## str in python support multiplications

TqibTqibTqibTqibTqib

In [7]:
x = "Hello World"

In [9]:
x.capitalize()

'Hello world'

In [10]:
x.upper()

'HELLO WORLD'

In [13]:
list1 = x.split(" ")

In [14]:
print(list1[0])

Hello

In [15]:
print('This is a string {} which is a name of {}'.format('test1', 'test2'))

This is a string test1 which is a name of test2

In [18]:
print('The {2} {1} {0}'.format('fox', 'cat', 'cow'))

The cow cat fox

In [19]:
print('The {c} {f} {m}'.format(f='fox', c='cat', m='monkey'))

The cat fox monkey

Float Formatting method "{value:width.precision f}"

In [20]:
result = 100/777

In [21]:
result

0.1287001287001287

In [27]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [28]:
name = "Aqib"

In [30]:
print("Hello my name is {}".format(name))

Hello my name is Aqib

In [32]:
print(f"Hello my name is {name}")

Hello my name is Aqib

In [33]:
age = 32

In [34]:
print(f"My name is {name} and i am {age} years old")

My name is Aqib and i am 32 years old

In [7]:
st = "      Hi there is a table       "
st = st.lstrip().rstrip().upper().replace("E", "K")
print(st)

HI THKRK IS A TABLK

In [12]:
scientist = "albert einstein"
proper_name = scientist.title()
wasteful_string = "     9:00PM     "
unwasteful_string = wasteful_string.lstrip().rstrip()
party_attendees = "Sharon, James, Ron, Blake"
is_attending = "Ron" in party_attendees


def cleanup(rawInput: str) -> str:
    return rawInput.lstrip().rstrip().capitalize()

print(cleanup('  hello  '))

Albert Einstein
Hello