In [1]:
import pandas as pd
nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [4]:
nba.Name
nba.Team
nba.Position
nba.Height ## This approach will not work if column names have a space, like 'Current Score'

0       6-7
1       6-5
2       6-5
3      6-10
4      6-10
       ...
587     6-3
588     6-4
589    6-10
590     6-5
591     NaN
Name: Height, Length: 592, dtype: object

In [5]:
nba["Name"] ## This approch will work for column names with spaces

0             Saddiq Bey
1      Bogdan Bogdanovic
2            Kobe Bufkin
3           Clint Capela
4         Bruno Fernando
             ...
587         Ryan Rollins
588        Landry Shamet
589     Tristan Vukcevic
590         Delon Wright
591                  NaN
Name: Name, Length: 592, dtype: object