In [32]:
import pandas as pd

nba = pd.read_csv("nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
nba = nba.dropna(how="all")

In [34]:
nba["Salary"] = nba["Salary"].fillna(0)

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/225025968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Salary"] = nba["Salary"].fillna(0)

In [35]:
nba["Salary"] = nba["Salary"].astype(int)

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/1770550966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Salary"] = nba["Salary"].astype(int)

In [36]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [37]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122

In [38]:
nba["College"] = nba["College"].dropna(how="all")

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/3783931739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["College"] = nba["College"].dropna(how="all")

In [39]:
nba["College"] = nba["College"].fillna("Unknown")

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/952451622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["College"] = nba["College"].fillna("Unknown")

In [40]:
nba["College"]

0          Villanova
1         Fenerbahce
2           Michigan
3        Elan Chalon
4           Maryland
           ...
586         Michigan
587           Toledo
588    Wichita State
589      Real Madrid
590             Utah
Name: College, Length: 591, dtype: object

In [41]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [42]:
nba["College"] = nba["College"].astype(str)

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/2233178294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["College"] = nba["College"].astype(str)

In [43]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [44]:
nba["Weight"] = nba["Weight"].dropna(how="all")

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/4193962287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Weight"] = nba["Weight"].dropna(how="all")

In [45]:
nba["Weight"] = nba["Weight"].fillna(0)

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/300237105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Weight"] = nba["Weight"].fillna(0)

In [46]:
nba["Weight"] = nba["Weight"].astype(int)

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/4258892935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Weight"] = nba["Weight"].astype(int)

In [47]:
nba.dtypes

Name        object
Team        object
Position    object
Height      object
Weight       int64
College     object
Salary       int64
dtype: object

In [48]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    591 non-null    int64
 5   College   591 non-null    object
 6   Salary    591 non-null    int64
dtypes: int64(2), object(5)
memory usage: 36.9+ KB

In [50]:
nba.nunique()

Name        591
Team         30
Position      7
Height       20
Weight       94
College     183
Salary      299
dtype: int64

In [51]:
nba["Position"] = nba["Position"].astype("category")

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/3813450007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Position"] = nba["Position"].astype("category")

In [52]:
nba["Position"]

0        F
1        G
2        G
3        C
4      F-C
      ...
586      G
587      G
588      G
589      F
590      G
Name: Position, Length: 591, dtype: category
Categories (7, object): ['C', 'C-F', 'F', 'F-C', 'F-G', 'G', 'G-F']

In [53]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    category
 3   Height    585 non-null    object
 4   Weight    591 non-null    int64
 5   College   591 non-null    object
 6   Salary    591 non-null    int64
dtypes: category(1), int64(2), object(4)
memory usage: 33.2+ KB

In [54]:
nba["Height"] = nba["Height"].astype("category")

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/115141231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Height"] = nba["Height"].astype("category")

In [55]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    category
 3   Height    585 non-null    category
 4   Weight    591 non-null    int64
 5   College   591 non-null    object
 6   Salary    591 non-null    int64
dtypes: category(2), int64(2), object(3)
memory usage: 29.9+ KB

In [56]:
nba.nunique()

Name        591
Team         30
Position      7
Height       20
Weight       94
College     183
Salary      299
dtype: int64

In [57]:
nba["Team"] = nba["Team"].astype("category")

/var/folders/vk/p6qvytc90z38qct0h2zh9y8c0000gn/T/ipykernel_59370/3347570008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Team"] = nba["Team"].astype("category")

In [58]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    category
 2   Position  584 non-null    category
 3   Height    585 non-null    category
 4   Weight    591 non-null    int64
 5   College   591 non-null    object
 6   Salary    591 non-null    int64
dtypes: category(3), int64(2), object(2)
memory usage: 27.1+ KB