In [1]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [2]:
list1 = [3,2,1,3,1,2,3,4]
for i in list1:
    print(i)

3
2
1
3
1
2
3
4

In [4]:
st = "This is a iterable item"
for i in st:
    print(i)

T
h
i
s

i
s

a

i
t
e
r
a
b
l
e

i
t
e
m

In [7]:
for index, value in enumerate(st):
    print(f"index {index} : value {value}")

index 0 : value T
index 1 : value h
index 2 : value i
index 3 : value s
index 4 : value
index 5 : value i
index 6 : value s
index 7 : value
index 8 : value a
index 9 : value
index 10 : value i
index 11 : value t
index 12 : value e
index 13 : value r
index 14 : value a
index 15 : value b
index 16 : value l
index 17 : value e
index 18 : value
index 19 : value i
index 20 : value t
index 21 : value e
index 22 : value m

In [9]:
for _,item in enumerate((1,2,3)):
    print(item)

1
2
3

In [10]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [13]:
for a,b in mylist: ## tuple unpacking
    print(f"first double {a*2} and second {b}")

first double 2 and second 2
first double 6 and second 4
first double 10 and second 6
first double 14 and second 8

In [15]:
mylist = [(1,2,3), (4,5,6), (7,8,9), (10,11,12)]
for a,b,c in mylist:
    print(b)

2
5
8
11

In [17]:
d = {'k1':1, 'k2':2, 'k3':3}

for key,value in d.items():
    print(f"key {key}: item {value}")

key k1: item 1
key k2: item 2
key k3: item 3

In [21]:
x = 0

while x < 5:
    print(f'Current value of x is {x}')
    x += 1
else:
    print("x is not less than 5 anymore")

Current value of x is 0
Current value of x is 1
Current value of x is 2
Current value of x is 3
Current value of x is 4
x is not less than 5 anymore

In [22]:
x = [1,2,3]

for item in x:
    # comment
    pass ## passing empty for loop
print('end of my script')

end of my script

In [24]:
mystring = "I am aqib"

for i in mystring:
    if i == 'I':
        continue
    if i == 'i':
        break
    print(i)

a
m

a
q